/* リセット */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{ font-size: 16px; }
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
img{ vertical-align: bottom; }
table{ border-collapse: collapse; }

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  html{
    font-size: 14px;
  }
}

/* 768px以上 PC用 */
@media screen and (min-width: 768px), print {
}

/* header */
h1{
  background-color: #000000;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  line-height: 55px;
  padding: 0 100px;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  h1{
    font-size: 12px;
    padding: 0 20px;
    line-height: 40px;
  }
}

/* key visual */
.k-visual{
  background-color: #074893;
  padding: 0 100px;
}

.k-visual img{
  width: 100%;
  height: auto;
  align-items: center;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .k-visual{
    padding: 0 20px;
  }
}

/* section1 */
.sec1{
  text-align: center;
  background-color: #000033;
  padding-bottom: 5px;
}

.s1-cont1-title{
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  padding: 60px 0 40px;
}

.sec1 span{
  font-size: 22px;
}

.content1{
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.content1 span{
  color: #f7f0c8;
  font-size: 16px;
}

.btn1 a{
  display: block;
  width: 650px;
  color: #fff;
  font-size: 30px;
  line-height: 65px;
  background-color: #9f4a96;
  margin: 30px auto 60px;
}

.btn1 a:hover{
  background-color: #bd57b2;
}

.s1-cont2{
  background-color: #ffffff;
  padding: 60px 100px;
}                                         

.theme{
  font-size: 26px;
  border-bottom: 3px solid #9f4a96;
  padding-bottom: 10px;
  text-align: center;
}

.s1-img{
  display: block;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.s1-text{
  text-align: left;
}

.s1-cont2 h4{
  font-size: 20px;
  padding: 30px 0 10px;
}

.s1-cont2 h4 p{
  font-size: 16px;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .sec1{
    padding: 0 20px 10px;
  }

  .s1-cont1-title{
    font-size: 24px;
    padding: 40px 0 20px;
  }

  .sec1 span{
    font-size: 18px;
  }

  .content1{
    font-size: 16px;
    text-align: left;
    padding: 0 20px;
  }

  .btn1 a{
    width: 90%;
    font-size: 20px;
    line-height: 50px;
    margin: 20px auto 40px;
  }

  .s1-cont2{
    padding: 30px 20px;
  }

  .theme{
    font-size: 20px;
  }

  .s1-img{
    padding-top: 20px;
  }

  .s1-cont2 h4{
    font-size: 18px;
  }

  .s1-cont2 h4 p{
    font-size: 16px;
  }
}

/* section2 */
.s-cont-title{
  background-color: #000033;
  font-size: 36px;
  text-align: center;
  color: #f0f0f0;
  font-weight: normal;
  padding: 30px 0;
}

.s-cont-title span{
  font-size: 22px;
}

.sec2{
  padding: 60px 100px 0;
  text-align: center;
}

.s2-img{
  padding: 30px 0;
  height: auto;
}

.s-text{
  text-align: left;
  padding-bottom: 60px;
} 

@media screen and (max-width: 767px), print {
  .s-cont-title{
    font-size: 24px;
  }

  .s-cont-title span{
    font-size: 18px;
  }

  .sec2{
    padding: 30px 20px 0;
  }

  .s2-img{
    padding: 20px 0;
    width: 100%;
    height: auto;
  }

  .s-text{
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 1.8;
  }
}

/* section3 */

.sec3{
  padding: 60px 100px;
  text-align: center;
  background-color: #f0f0f0;
}

.s3-img{
  padding: 30px 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px), print {
  .sec3{
    padding: 30px 20px;
  }

  .s3-img{
    padding: 20px 0;
  }
}

/* section4 */
.sec4{
  padding: 60px 100px 0;
  text-align: center;
  background-color: #f0f0f0;
}

.s4-img{
  padding: 30px 0;
  height: auto;
}

@media screen and (max-width: 767px), print {
  .sec4{
    padding: 30px 20px;
  }

  .s4-img{
    padding: 20px 0;
  }
}

/* section5 */
.sec5{
  padding: 30px 200px 60px;
  background-color: #9f4a96;
  color: #fff;
}

.s5-cont-title{
  font-size: 36px;
  text-align: center;
  color: #f0f0f0;
  font-weight: normal;
  padding: 30px 0;
}

.s5-cont-title span{
  font-size: 22px;
}

.s5-theme{
  font-size: 26px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  text-align: center;
  font-weight: normal;
  padding: 15px 0;
}

.s5-list{
  font-size: 16px;
  padding: 30px 0;
  font-weight: normal;
}

.btn2{
  text-align: center;
  width: 650px;
  line-height: 65px;
  margin: auto;
}

.btn2 a{
  display: block;
  font-size: 30px;
  background-color: #ea5a24;
}

.btn2 a:hover{
  background-color: #ec7e55;
}

@media screen and (max-width: 767px), print {
  .sec5{
    padding: 20px 20px;
  }

  .s5-cont-title{
    font-size: 24px;
    padding: 20px 0;
  }

  .s5-cont-title span{
    font-size: 18px;
  }

  .s5-theme{
    font-size: 20px;
    padding: 10px 0;
  }

  .s5-list{
    font-size: 14px;
    padding: 20px 0;
  }

  .btn2{
    width: 90%;
    line-height: 50px;
    margin: 20px auto;
  }

  .btn2 a{
    font-size: 20px;
  }
}

/* footer */
.cr{
  background-color: #000033;
  width: 100%;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px), print {
  .cr{
    line-height: 70px;
    font-size: 12px;
  }
}









